{% extends 'base.html' %} {% block content %}
<h1>Lista de Grupos</h1>
<table>
  <tr>
    <th>
      <b>Nome do Grupo</b>
    </th>
    <th>
      <b>Equipa 1</b>
    </th>
    <th>
      <b>Equipa 2</b>
    </th>
    <th>
      <b>Equipa 3</b>
    </th>
    <th>
      <b>Equipa 4</b>
    </th>
  </tr>

  {% for grupo in grupos_list %}
  <tr>
    <td>
      <a href="/grupos/{{ grupo.nome_grupo }}">{{ grupo.nome_grupo }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.pais_1 }}">{{ grupo.pais_1 }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.pais_2 }}">{{ grupo.pais_2 }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.pais_3 }}">{{ grupo.pais_3 }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.pais_4 }}">{{ grupo.pais_4 }}</a>
    </td>
  </tr>
  {% endfor %}
</table>

<h1>Lista de Jogos</h1>
<table>
  <tr>
    <th>
      <b>Nº da Partida</b>
    </th>
    <th>
      <b>Equipa 1</b>
    </th>
    <th>
      <b>Equipa 2</b>
    </th>
    <th>
      <b>Nome do Grupo</b>
    </th>
    <th>
      <b>Dia</b>
    </th>
    <th>
      <b>Hora</b>
    </th>
    <th>
      <b>Estádio</b>
    </th>
  </tr>

  {% for grupo in grupos %}
  <tr>
    <td>
      <a href="/grupos/{{ grupo.match_no }}">{{ grupo.match_no }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.nome_pais_1 }}">{{ grupo.nome_pais_1 }}</a>
    </td>
    <td>
      <a href="/equipas/{{ grupo.nome_pais_2 }}">{{ grupo.nome_pais_2 }}</a>
    </td>
    <td>
      <a href="/grupos/{{ grupo.nome_grupo }}">{{ grupo.nome_grupo }}</a>
    </td>
    <td>{{ grupo.dia }}</td>
    <td>{{ grupo.hora }}</td>
    <td>
      <a href="/estadios/{{ grupo.nome_estadio }}">{{ grupo.nome_estadio }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
