{% extends 'base.html' %} {% block content %}
<h1>{{ gp_name.nome_grupo }}</h1>

<p><h2>Jogos</h2></p>
  
<table>
  <tr>
    <th>
      <b>Nº da Partida</b>
    </th>
    <th>
      <b>Equipa 1</b>
    </th>
    <th>
      <b>Equipa 2</b>
    </th>
    <th>
      <b>Dia</b>
    </th>
    <th>
      <b>Hora</b>
    </th>
    <th>
      <b>Estádio</b>
    </th>
  </tr>

  {% for jogo in gp %}
  <tr>
    <td><a href="/grupos/{{ jogo.match_no }}">{{ jogo.match_no }}</a></td>
    <td>
      <a href="/equipas/{{ jogo.nome_pais_1 }}">{{ jogo.nome_pais_1 }}</a>
    </td>
    <td>
      <a href="/equipas/{{ jogo.nome_pais_2 }}">{{ jogo.nome_pais_2 }}</a>
    </td>
    <td>{{ jogo.dia }}</td>
    <td>{{ jogo.hora }}</td>
    <td>
      <a href="/estadios/{{ jogo.nome_estadio }}">{{ jogo.nome_estadio }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
