{% extends 'base.html' %} {% block content %}
<h1>FIFA World Cup 2022 database</h1>

<h2>Sobre</h2>
<p>
  No âmbito de conceber um modelo de uma base de dados, escolhemos como universo
  a fase de grupos da Copa do Mundo FIFA2022, sendo esta a 22ª edição deste
  evento, que teve lugar no Qatar. Podes conferir a lista completa de fontes
  <a href="/fontes">aqui</a>.
</p>

<h2>A copa do mundo em números</h2>
<table>
  <tr>
    <td>Equipas</td>
    <td>{{ stats.n_equipas }}</td>
  </tr>
  <tr>
    <td>Jogos</td>
    <td>{{ stats.n_jogos }}</td>
  </tr>
  <tr>
    <td>Gols Feitos</td>
    <td>{{ stats.n_gols }}</td>
  </tr>
  <tr>
    <td>Jogadores</td>
    <td>{{ stats.n_jogadores }}</td>
  </tr>
  <tr>
    <td>Estádios</td>
    <td>{{ stats.n_estadios }}</td>
  </tr>
  <tr>
    <td>Torcedores Presentes</td>
    <td>{{ stats.n_bilhetes }}</td>
  </tr>
</table>

<h2>A base de dados</h2>

<h3><a href="/grupos">Jogos e Grupos</a></h3>

<h3><a href="/equipas">Equipas</a></h3>

<h3><a href="/estadios">Estádios</a></h3>

<h3><a href="/jogadores">Jogadores</a></h3>

<h3><a href="/canais">Canais </a></h3>
{% endblock %}
