{% extends 'base.html' %} {% block content %}
<h1>Resultados da sua pesquisa:</h1>

<p>Pesquise novamente pelo nome do Jogador:</p>
<form
  name="s_jogador"
  action="javascript:window.open('/jogadores/search/'+document.forms['s_jogador'].elements['expr'].value,'_self')"
>
  <input name="expr" id="expr" placeholder="Jogador" required />
  <input type="submit" value="search" />
</form>

<table>
  <tr>
    <th>
      <b>JogadorID</b>
    </th>
    <th>
      <b>Nome do Jogador</b>
    </th>
    <th>
      <b>Posição</b>
    </th>
    <th>
      <b>País</b>
    </th>
    <th>
      <b>Clube</b>
    </th>
    <th>
      <b>Partidas Jogadas</b>
    </th>
    <th>
      <b>Nº de Gols</b>
    </th>
  </tr>

  {% for jogador in s_jogador %}
  <tr>
    <td>
      <a href="/jogadores/{{ jogador.jogador_id }}">{{ jogador.jogador_id }}</a>
    </td>
    <td>
      <a href="/jogadores/{{ jogador.jogador_id }}"
        >{{ jogador.nome_jogador }}</a
      >
    </td>
    <td>{{ jogador.posicao }}</td>
    <td>
      <a href="/equipas/{{ jogador.nome_pais }}">{{ jogador.nome_pais }}</a>
    </td>
    <td>{{ jogador.clube }}</td>
    <td>{{ jogador.partidas_jogadas }}</td>
    <td>{{ jogador.gols }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
